<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Study Guide Bank</title>
    <meta name="description" content="Study guide bank for students of Thomas Jefferson High School for Science and Technology.">
    <meta name="keywords" content="tjhsst, study bank, study guide, guide bank, tjhsst study, tjhsst background-size">
  
    
</script>
  {% block head %}{% endblock %}
  </head>
  <body id="page">
  {% block main %}{% endblock %}
  </body>
</html>