<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study Guide Bank</title>
    <meta
      name="description"
      content="Study guide bank for students of Thomas Jefferson High School for Science and Technology."
    />
    <meta
      name="keywords"
      content="tjhsst, study bank, study guide, guide bank, tjhsst study, tjhsst background-size"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/74f5f903f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />

    {% block head %}{% endblock %}
  </head>
  <body id="page">
    <span class="bold size-4 my-2 josefin-sans text-center">
      <a href="{% url 'home:index' %}">TJHSST Study Guide Collection</a>
    </span>
    <main>
      {% block disclaimer %}{% endblock %}

      {% if user.is_authenticated %}
        <form action="/search" method="get" autocomplete="off">
          <input type="text" name="q" value="{% if sq %}{{ sq }}{% endif %}" placeholder="Search" aria-label="Search">
          <button type="submit" class="search-button" aria-label="Search">
              <i class="fas fa-search"></i>
          </button>
        </form>
        <br>
      {% endif %}

      <div class="my-2">
        {% block path %}{% endblock %}
      </div>
      {% block content %}{% endblock %}
    </main>
    <div class="size-5 my-2 josefin-sans text-center">
      {% if user.is_teacher %}
        <a style="padding:20px;" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSddHARB7zIgCBN-swWkejx6f4wJNslxh5AnkS65BzJ2pt7uLQ/viewform?usp=sf_link">Report a Study Guide</a>
      {% elif user.is_superuser or user.is_staff %}
        <a style="padding:20px;" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSddHARB7zIgCBN-swWkejx6f4wJNslxh5AnkS65BzJ2pt7uLQ/viewform?usp=sf_link">Report a Study Guide</a>
        <a style="padding:20px;" href="/admin">Access Admin Console</a>
      {% endif %}
    </div>
  </body>
</html>
