{% extends "base.html" %}

{% load static %}

{% block search %}
    {% if user.is_authenticated %}
    <form action="/search" method="get" autocomplete="off">
    <input type="text" name="q" value="{% if sq %}{{ sq }}{% endif %}" placeholder="Search" aria-label="Search">
    <button type="submit" class="search-button" aria-label="Search">
        <i class="fas fa-search"></i>
    </button>
    </form>
    <br>
    {% endif %}
{% endblock %}

{% block links %}
    {% if user.is_authenticated %}
      <div class="size-5 my-2 josefin-sans text-center">
        {% if user.is_teacher %}
          <a style="padding:20px;" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSddHARB7zIgCBN-swWkejx6f4wJNslxh5AnkS65BzJ2pt7uLQ/viewform?usp=sf_link">Report a Study Guide</a>
        {% elif user.is_superuser or user.is_staff %}
          <a style="padding:20px;" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSddHARB7zIgCBN-swWkejx6f4wJNslxh5AnkS65BzJ2pt7uLQ/viewform?usp=sf_link">Report a Study Guide</a>
          <a style="padding:20px;" href="/admin">Access Admin Console</a>
          <a style="padding:20px;" href="{% url 'courses:approve_index_view' %}">Approve Study Guides</a>
        {% endif %}
        <a style="padding:20px;" href="{% url 'courses:add' %}">Add Study Guide</a> 
      </div>
      <br>
      <div class="size-5 my-2 josefin-sans text-center">
        <a href="{% url 'auth:logout' %}">Logout</a>
      </div>
    {% endif %}
{% endblock %}
