{% extends "base.html" %} {% load static %} {% block main %}
<main>
  <p>DISCLAIMER: Please keep in mind that these database contains student-made study guides over the past years. Some study guides may potentially be outdated or not be 100% reflective of the content your teacher is teaching. It’s also possible these won’t be 100% accurate. Therefore, make sure to not solely rely on these study guides. If you see an inconsistency in a study guide that confuses you, ask your teacher to clarify. SGA is not responsible for the content on the doc.</p>
  <br>
  <h1><a href="/">All</a></h1>

  {% for subject, courses in subjects %}
  <a href="/{{subject.url}}"><h2>{{ subject.name }}</h2>

  {% for course in courses %}
  <p class="item"><a href="/{{subject.url}}/{{course.url}}"/>{{ course.name }}</a></p>

  {% endfor %} {% endfor %}
</main>
{% endblock %}
