{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
    <div class='round lighter my-2 mx-auto p-2'>
        <span>
            <b>Login in with your Intranet account</b>
            to access the Study Guide website.
        </span><br/>
        <a href="{% url 'social:begin' 'ion' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" class='btn btn-ion'>Log in with Ion</a>
    </div>
{% endblock %}